html {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    overflow-x: hidden;
    min-height: 100%;
}

body#introPage {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

}

body {
    direction: rtl;
    font-family: 'assistantregular' !important;
    margin-left: 0;
    height: 100vh;
    margin-bottom: 70px;
    text-rendering: optimizeLegibility;
}

    body#fixedHeight, body#introPage {
        margin-bottom: 0px;
    }

    #back-to-top {
        /*position: fixed;*/
        bottom: 90px;
        left: 30px;
        z-index: 9999;
        width: 102px;
        height: 42px;
        text-align: center;
        padding-top: 08px;
        padding-left: 1px;
        background-color: white;
        color: #444;
        cursor: pointer;
        border: 0;
        /*border-radius: 50%;*/
        transition: opacity 0.2s ease-out;
        opacity: 0;
    }

    #back-to-top div {
        background-color: white;
    }

    #back-to-top {
        color: #000;
    }

    /*#back-to-top:hover {
        background: #e9ebec;
    }*/

    #back-to-top.show {
        opacity: 1;
    }

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6d7179;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

@media (orientation:landscape) {
    #introAbout {
        position: absolute;
    }

    .innerPagesNav {
        position: absolute;
    }
}

@media (orientation:portrait) {
    #introAbout {
       position:fixed;
    }

    .innerPagesNav{
        position:fixed;
    }
}

@font-face {
    font-family: 'gveret_levin_alefalefalefRg';
    src: url('../fonts/gveretlevinalefalefalef-regular-webfont.eot');
    src: url('../fonts/gveretlevinalefalefalef-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gveretlevinalefalefalef-regular-webfont.woff2') format('woff2'), url('../fonts/gveretlevinalefalefalef-regular-webfont.woff') format('woff'), url('../fonts/gveretlevinalefalefalef-regular-webfont.ttf') format('truetype'), url('../fonts/gveretlevinalefalefalef-regular-webfont.svg#gveret_levin_alefalefalefRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'assistantregular';
    src: url('../fonts/assistant-regular-webfont.eot');
    src: url('../fonts/assistant-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/assistant-regular-webfont.woff2') format('woff2'), url('../fonts/assistant-regular-webfont.woff') format('woff'), url('../fonts/assistant-regular-webfont.ttf') format('truetype'), url('../fonts/assistant-regular-webfont.svg#assistantregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*#img1InnerNav2, #img2InnerNav2 {
    margin-top: 10px;
}*/



.questionnaire {
    width: 100%;
    background: url("../images/bg_header.png") center bottom no-repeat;
    background-size: cover;
    padding: 100px 0 80px 50px;
    z-index: 100;
}

#h1Welcome {
    font-size: 56px;
    text-align: center;
    padding-top: 30px;
    font-family: 'gveret_levin_alefalefalefRg';
    width: 100%;
}

.questionsHeadQ {
    font-size: 56px;
    text-align: center;
    margin-top: -50px;
    font-family: 'gveret_levin_alefalefalefRg';
    width: 100%;
}

.titleIntro {
    font-size: 56px;
    text-align: center;
    margin-top: -50px;
    font-family: 'gveret_levin_alefalefalefRg';
    width: 100%;
}
#qInstQ {
    font-size: 18pt;
}

.siteInto p {
    margin-top: 70px;
    font-size: 18pt;
}

#introAbout {
    width: 100%;
    background: url("../images/bg_header.png") center bottom no-repeat;
    background-size: cover;
    padding: 20px 0 80px 0;
    position: fixed;
    z-index: 100;
}

.innerPagesNav {
    position: fixed /*!important*/;
    top: 300px;
    z-index: 100;
}



.bgNav {
    background-color: #fff;
    height: 300px;
    position: fixed;
    /*left:0;*/
    width: 100%;
    top: 90px;
    z-index: 3;
}

.page-footer {
    background-color: #dae3f3;
}

#workLogo, #youthLogo, #jointLogo, #yatedLogo, #workLogoM, #youthLogoM, #jointLogoM, #yatedLogoM {
    opacity: 0.4;
}

#workLogoM {
    margin-left: 5px;
}

    #primaryNav {
        background-color: rgba(0, 0, 0, 0.5) !important;
        height: 90px;
        /*position:fixed;*/
    }

    #primaryNav a {
        color: #000;
        text-align: center;
        font-size: 14pt;
    }

    #primaryNav .nav-item:hover {
        font-weight: bold !important;
        transition: .5s ease !important;
    }

.navbar-nav > li {
    margin-left: 1em;
    margin-right: 1em;
}

#careerSpan, #friendshipSpan, #familySpan, #aboutSpan {
    color: #fff;
    opacity: 0.7;
}


#primaryNav ul.rightNav img, #primaryNav ul.leftNav img {
    display: block;
}

#primaryNav ul li span.rightNavSpan {
    margin-right: -60px;
}

#primaryNav ul li span.leftNavSpan {
    margin-left: 15px;
}


.textSection {
    font-size: 16pt;
    height: 100%;
}

/*.textArea {
    margin-top: 300px;
}*/

.introSpans {
    font-size: 18pt;
}

.fixed-bg {
    margin-top: -120px;
    background-color: #FFF;
    height: 500px;
    position: fixed;
    width: 150vw;
    left: -170px;
    z-index: 5;
    /*box-shadow: 0 0 20px 30px #FFF;*/
    /*border-radius:50%;*/
}

    .fixed-bg + div {
        padding: 0;
    }



/*#videoCareerSection,
#videoFriendshipSection,
#videoFamilySection {
    background-color: lightgray;
    height: 400px;
    text-align: center;
    line-height: 400px;
}*/

#videoCareerCol {
    padding: 0;
    margin:0 auto;
}

#videoAboutCol {
    padding: 0;
    margin: 0 auto;

}
.anchor
.contactLinkInnerPages {
    margin-top: 40px;
}


.contactShowInnerPages {
    text-decoration: underline !important;
}

    .contactShowInnerPages:hover {
        font-weight: bold;
        cursor: pointer;
    }

.contactLinkInnerPages {
    height: 70px;
}

.thumbAboutUs {
    border-radius: 50%;
}

.thumbsDivAboutUs {
    display: inline-block;
    margin-left: 30px;
    margin-top: 20px;
}



.thumbPosition {
    font-size: 12pt;
    width: 130px;
    word-wrap: break-word;
}

.thumbPosition {
    font-size: 12pt;
    width: 130px;
    word-wrap: break-word;
}

#thumbPosition {
    font-size: 12pt;
    width: 100px;
    word-wrap: break-word;
}

#whoAreWePage {
    margin-top: 40px;
}

    #whoAreWePage div a {
        margin-left: 40px;
    }

#howItWorks {
    display: none;
}

ul.ulList li {
    color: #f4b183;
    list-style-type: disc;
}

    ul.ulList li span {
        color: black;
    }

ul.ulList {
    padding-right: 20px;
}

#insideNavWhoAreWe {
    height: auto;
}

.whoAreWeLinks {
    margin-bottom: 10px;
    margin-top:10px;
    font-size:16pt;
}

#whoAreWeLinks{
    display:flex;
}

#goalsLink{
    display:inline-block;
    font-weight:bold;
}

#howItWorks{
display:inline-block;
}

.whoAreWeLinks > div {
    display: inline-block;
    width: 200px;
}

.hr1, .hr2 {
    width: 0px;
    text-align: right;
    display: inline-block;
    margin-left: 45px;
    border: none;
    border-bottom: 1px solid #F7AD2B;
    transition: width 1s ease;
}

#hr1, #hr2 {
    width: 0px;
    text-align: right;
    display: inline-block;
    margin-left: 45px;
    border: none;
    border-bottom: 1px solid #F7AD2B;
    transition: width 1s ease;
}

#hrHistory, #hrWhoWeAre, #hrNumbers, #hrSay, #hrContact {
    width: 100px;
    text-align: right;
    margin-top: -15px;
    margin-left: 45px;
    border: none;
    transition: width 1s ease;
}

#historyContent, #whoWeAreContent, #infographicsPie, #sayContent, #contactContent {
    margin-top: 15px;
}

#hrHistory {
    border-bottom: 1px solid red;
}

#hrWhoWeAre {
    border-bottom: 1px solid #E58410;
}

#hrNumbers {
    border-bottom: 1px solid #366695;
    width: 200px;
}

#hrSay {
    border-bottom: 1px solid #63D7FD;
    width: 175px;
}

#hrContact {
    border-bottom: 1px solid #EDA56B;
    width: 90px;
}

/*#titleHistory:hover + div#hrHistory {
    width: 105px;
}*/
.goalsLink + div.hr1 {
    display: block;
}

.goalsLink:hover + div.hr1 {
    width: 105px;
}

.howItWorksLink + div.hr2 {
    display: block;
}

.howItWorksLink:hover + div.hr2 {
    width: 105px;
}

.goalsLink:hover, .howItWorksLink:hover {
    font-weight: bold !important;
    cursor: pointer !important;
}

.goalsLink, .howItWorksLink {
    cursor: pointer;
}

#goalsLink + div#hr1 {
    display: block;
}

#goalsLink:hover + div#hr1 {
    width: 105px;
}

#howItWorksLink + div#hr2 {
    display: block;
}

#howItWorksLink:hover + div#hr2 {
    width: 105px;
}

#goalsLink:hover, #howItWorksLink:hover {
    font-weight: bold !important;
    cursor: pointer !important;
}

#goalsLink, #howItWorksLink {
    cursor: pointer;
    font-weight: bold;
}
#numbersContainer {
    text-align: center;
}

.numbersDivs {
    width: 250px;
    display: inline-block;
}

#numbersFirstDiv {
    width: 200px;
    display: inline-block;
}

.number {
    color: #273b7a;
    font-size: 58pt;
    font-weight: bold;
}

.numberInfo {
    font-size: 14pt;
}


.numbersBg {
    width: 100%;
    background-color: lightgray;
    border-radius: 50px;
}

#numbersFirstDiv1 {
    background-color: #e5b10a;
    width: 900px;
    height: 90px;
    padding: 10px;
    margin-bottom: 5px;
    line-height: 90px;
    display: flex;
    border-radius: 50px;
    text-align: right;
}

#startAnimation {
    text-align: right;
    margin-top: -25px;
}

.outerLinks{
    color:#000;
    text-decoration:underline;
}

.introLinks {
    color: #000;
    text-decoration: none;
}

.introLinks:hover {
    color: #000;
    text-decoration: none;
}

.progressBar {
    position: relative;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.progress {
    height: 60px;
    position: absolute;
    border-radius: 5px;
    background-color: #fee187;
    border-radius: 50px;
    color: #000;
    padding-right: 20px;
    padding-left: 20px;
}

#firstData {
    background-color: #b7ebfc;
}

/*.number1 {
    font-size: 28pt;
    align-items: center;
    justify-content: center;
    line-height: 60px;
    vertical-align: middle;
    margin-top: -2px;
}*/

/*.numberInformation {
    font-size: 15pt;
    width: 390px;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    vertical-align: middle;
    line-height: 23px;
}*/

/*#numberInformation0 {
    width: 100%;
    margin: 17px 0;
}

#numberInformation1 {
    width: 530px;
    margin: 17px 0;
}

#numberInformation2, #numberInformation3, #numberInformation4 {
    width: 550px;
    margin: 7px 0;
}

#number2 {
    background-color: #ff9451;
}

#number3 {
    background-color: #86c2f2;
}

#number4 {
    background-color: #ffd8b1;
}*/

.whoSaid {
    font-size: 14pt;
    padding-top: 15px;
    font-weight: bold;
}

#firstSay{
    padding-top:0px;
}
.whatIsSaid {
    font-size: 16pt;
}

@media (min-width:768px){
.anchor{
    margin-top:30px;
}

    #videoAbout{
        display:block;
    }

:target:before {
    content: "" !important;
    display: block !important;
    height: 450px !important; /* fixed header height */
    margin: -450px 0 0 !important; /* negative fixed header height */
        }
}

@media (max-width:768px) {
    :target:before {
        display: none !important;

    }

    #videoAbout{
        display:none;
    }
}



#backgroundHistory {
    background-color: darkred;
    width: 40px;
    text-align: right;
    display: inline-block;
    margin-left: 45px;
    border: none;
    border-bottom: 1px solid red;
    transition: width 1s ease;
}

#sayingPage, #contactPage {
    margin-top: 40px;
    font-size: 16pt;
}

#numbersPage {
    margin-top: 60px;
}

.titleOfInner {
    font-size: 20pt;
    margin-bottom: 20px;
    font-weight: bold;
}


#orgOperatingSpan {
    font-weight: bold;
}

#contactInfo {
    margin-top: 20px;
    text-align: center;
}

#contactContainer2 {
    height: 200px;
    margin-right:15px;
}

#contactContainer3 {
    height: 500px;
}

#contactContainer{
    height:350px;
}

#infographicsPie {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.arrowNumbers {
    position: relative;
    height: 0px;
    width: 0px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    position: absolute;
    bottom: 40px;
    left: 57px;
    z-index: -1;
    animation: load-arrow 1.6s linear;
    animation-fill-mode: forwards;
    -webkit-animation: load-arrow 1.6s linear;
    -webkit-animation-fill-mode: forwards;
}

#arrow1 {
    border-top: 18px solid #8BD7E8;
}

#arrow2 {
    border-top: 18px solid #FCBC3A;
}

#arrow3 {
    border-top: 18px solid #62B73E;
}

#arrow4 {
    border-top: 18px solid #8986EF;
}

#arrow5 {
    border-top: 18px solid #FCC490;
}
@keyframes load-arrow {
    from {
        transform: translate(0,0);
    }

    to {
        transform: translate(0,55px);
    }
}

@-webkit-keyframes load-arrow {
    from {
        transform: translate(0,0);
    }

    to {
        transform: translate(0,55px);
    }
}

.pie {
    width: 140px;
    height: 140px;
    position: relative;
    border-radius: 140px;
    margin: auto;
    display:inline-block;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
}

.outer-right {
    clip: rect(0px 140px 140px 70px);
}

.inner-right {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    -webkit-transform: rotate(170deg);
    transform: rotate(180deg);
    animation: load-right 1s linear;
    -webkit-animation: load-right 1s linear;
}

@keyframes load-right {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@-webkit-keyframes load-right {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

.outer-left {
    clip: rect(0px 70px 140px 0px);
}

.inner-left {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    animation: load-left 0.6s linear;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    -webkit-animation: load-left 0.6s linear;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
}

#inner-left1 {
    background-color: #8BD7E8;
    clip: rect(0px 140px 140px 0px);
}

#inner-right1 {
    background-color: #8BD7E8;
    clip: rect(0px 140px 140px 0px);
}

#pie1 {
    background-color: #8BD7E8;
}

#pie2 {
    background-color: #F7D36D;
}


#inner-left2 {
    background-color: #FCBC3A;
    clip: rect(0px 80px 140px 0px);
}

#inner-right2 {
    background-color: #FCBC3A;
    clip: rect(0px 140px 140px 0px);
}

#pie3 {
    background-color: #8BDB65;
}


#inner-left3 {
    background-color: #62B73E;
    clip: rect(0px 60px 140px 0px);
}

#inner-right3 {
    background-color: #62B73E;
    clip: rect(0px 140px 140px 0px);
}

#pie4 {
    background-color: #8986EF;
}


#inner-left4 {
    background-color: #6868DD;
    clip: rect(0px 0px 140px 0px);
}

#inner-right4 {
    background-color: #6868DD;
    clip: rect(0px 70px 140px 0px);
    transform: rotate(170deg);
}

#pie5 {
    background-color: #FCC490;
}


#inner-left5 {
    background-color: #F4AD73;
    clip: rect(0px 0px 140px 0px);
}

#inner-right5 {
    background-color: #F4AD73;
    clip: rect(0px 70px 140px 0px);
    transform: rotate(140deg);
}

@keyframes load-left {
    from {
        transform: rotate(-180deg);
    }

    to {
        transform: rotate(-120deg);
    }
}


@-webkit-keyframes load-left {
    from {
        transform: rotate(-180deg);
    }

    to {
        transform: rotate(-120deg);
    }
}

.content {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #eee;
    position: absolute;
    top: 20px;
    left: 20px;
    line-height: 100px;
    font-family: arial, sans-serif;
    font-size: 35px;
    text-align: center;
}

    .content span {
        opacity: 0;
        animation: load-content 3s;
        animation-fill-mode: forwards;
        animation-delay: 0.6s;
        -webkit-animation: load-content 3s;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-delay: 0.6s;
    }

@keyframes load-content {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes load-content {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*.fixed-top{
position: absolute;
}*/


.row100, .row {
    width: 100vw;
}



    .contactImgs2 {
        /*position: absolute;*/
        z-index: 0;
        display: inline-block;
        /*margin-right: -114.5px;*/
        padding: 10px;
        background-color: #fff;
    }


        .contactImgs2:focus, .contactImgs2 {
            outline: 0 !important;
            box-shadow: none !important;
            outline: none !important;
        }

#contactSpan{
    margin-left:10px;
    display:inline-block;
}
/*#facebookImg1 {
    margin-right: -109.5px;
}*/
/*.contactImgs:hover {
    opacity: 0 !important;
    transition: .5s ease !important;
}
    .contactImgs:focus, .contactImgs {
        outline: 0 !important;
        box-shadow: none !important;
        outline: none !important;
    }
    
    .contactImgs {
    display: inline;
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: .5s ease;
    margin-left: 10px;
    border-radius: 50%;
    padding: 10px;
    background-color: #fff;
}*/
.popover {
    background-color: #f8be94;
    border: none;
    z-index:5;
}

.popover-inner {
    background-color: #f8be94 !important;
}

.popover .arrow::before, .popover .arrow::after {
    border-bottom-color: #f8be94 !important;
}


#facebookIcon {
    margin-right: -110px;
}

#emailIcon {
    margin-right: -114px;
}

#phoneIcon {
    margin-right: -115px;
}

#footerQ {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.nav-imgs {
    transition: .9s ease !important;
    margin-top: 5px;
    z-index: 2;
}

.nav-imgs2 {
    transition: .9s ease !important;
    margin-top: -50px;
    position: absolute;
    z-index: -1;
}

.nav-imgs:hover {
    opacity: 0 !important;
    transition: .9s ease !important;
    filter: none !important;
    cursor: pointer;
}

.titleOfPage h1 {
    font-size: 48px;
    text-align: center;
    font-family: 'gveret_levin_alefalefalefRg';
    padding-top: 20px;
    width: 100%;
}



#history {
    font-size: 16pt;
    padding: 0px 30px 0px 30px;
}




.secondNavImgs, .innerNavImgs {
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: .5s ease;
    display: block;
    margin: 0 !important;
}

.introImgs {
    z-index: 1;
    opacity: 1;
    transition: .5s ease;
    display: block;
    margin: 0 auto !important;
    position: absolute;
    top: 50%;
    text-align: center;
}

.navIntro{
text-align:center;
}

section#q1 {
    height: 0px;
}


img#lastImageQ1 {
    margin-left: 0px;
}

.introImgs2 {
    position: absolute;
    z-index: 0;
}

.fixed-row {
    position: fixed;
    top: 52vh;
    width: 100vw;
}

.fixed-row2 {
    position: fixed;
    top: 60vh;
    width: 100vw;
}

.spanButtonQ {
    margin-right: 45px;
    font-size: 18pt;
    margin-top: 10px;
}

.introNav > a:hover {
    font-weight: bold !important;
}

#img1IntroImg2, #img2IntroImg2, #startBtn1 {
    top: 5px;
}

#startBtn2 {
    top: 10px;
}

#span1Intro {
    right: 95px;
    margin-top: 10px;
}

#span2Intro {
    right: 55px;
    margin-top: 10px;
}

.spansIntro span {
    font-size: 20pt;
}



.secondNavImgs:hover, .innerNavImgs:hover, .introImgs:hover {
    opacity: 0 !important;
    transition: .5s ease !important;
}

.secondNav > a:hover {
    font-weight: bold;
}

.secondNavImgs2, .innerNavImgs2 {
    position: absolute;
    z-index: 0;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
}


#img2InnerNav2 {
    margin: 0 !important;
}

.navbar-brand {
    margin: 0 auto;
    position: relative;
}

.navbar {
    top: -80px;
}

#img1Nav2, #img5Nav2 {
    top: -70px;
}

#img1Nav2S, #img5Nav2S {
    top: -65px;
}

#img2Nav2S, #img4Nav2S {
    top: -15px;
}

#img3Nav2S {
    top: 5px;
}

#img2Nav2, #img4Nav2 {
    top: -20px;
}

.spansNav2, .spansIntro {
    text-align: center;
    position: absolute;
    font-size: 16pt;
}

#img1InnerNav2S-1, #img2InnerNav2S-1,
#img1InnerNav2S-2, #img2InnerNav2S-2,
#img1InnerNav2S-3, #img2InnerNav2S-3 {
    right: 0px;
    top: -20px;
}

#span1InnerNav-1,
#span1InnerNav-2,
#span1InnerNav-3 {
    top: 105px;
    right: 34px;
}

#span2InnerNav-1,
#span2InnerNav-2,
#span2InnerNav-3 {
    top: 105px;
    right: -26px;
}



#img1InnerNav2-1, #img2InnerNav2-1,
#img1InnerNav2-2, #img2InnerNav2-2,
#img1InnerNav2-3, #img2InnerNav2-3 {
    top: -25px;
}

#span2Nav2 {
    right: 18px;
    margin-top: -20px;
}

#span1Nav2 {
    margin-top: -70px;
    right: 18px;
}

#span3Nav2 {
    top: 116px;
    right: -24px;
}

#span4Nav2 {
    margin-top: -21px;
    right: -5px;
}

#span5Nav2 {
    margin-top: -70px;
    right: 22px;
}

.carousel {
    position: absolute;
    top: 400px;
    width: 100%;
}

#results {
    text-align: center;
    position: absolute;
    top: 290px;
    width: 100%;
}

#pageRecommendation{
font-size:18pt;
font-weight:bold;
}

.mycircles {
    width: 100vw;
    /*position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);*/
}

.mycircles:after {
    content: "";
    display: table;
    clear: both;
}

.mycircles div {
    box-sizing: border-box;
    height: 22vh;
    float: left;
    width: 22vh;
    margin-right: 5vw;
    margin-top:50%;
    border-radius: 50%;
    font-size:28pt;
}



#firstChoice {
    margin-top: 1%;
    right:25%;
    position:absolute;
    width:47vh;
    height:47vh;
}
    #firstChoice span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #secondChoice {
        margin-top: 1%;
        position: absolute;
        left: 28%;
    }

        #secondChoice span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

#thirdChoice {
    margin-top:14%;
    left:28%;
    position:absolute;
}

    #thirdChoice span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.ChoiceFamily {
    background-image: url('../images/family2.png');
    background-repeat: no-repeat;
    background-size: cover;
    transition: .5s ease;
    cursor: pointer;
}

.ChoiceFamily:hover {
    background-image: url('../images/family3.png');
    background-repeat: no-repeat;
    background-size: cover;
    transition: .5s ease;
}

.ChoiceFriendship {
    background-image: url('../images/friendship2.png');
    background-repeat: no-repeat;
    background-size: cover;
    transition: .5s ease;
    cursor:pointer;
}

    .ChoiceFriendship:hover {
        background-image: url('../images/friendship3.png');
        background-repeat: no-repeat;
        background-size: cover;
        transition: .5s ease;
    }

.ChoiceCareer {
    background-image: url('../images/career2.png');
    background-repeat: no-repeat;
    background-size: cover;
    transition: .5s ease;
    cursor: pointer;
}

    .ChoiceCareer:hover {
        background-image: url('../images/career3.png');
        background-repeat: no-repeat;
        background-size: cover;
        transition: .5s ease;
    }

.mycircles div:last-child {
    margin-right: 0px;
}

.carousel-control-next, .carousel-control-prev {
    color: black !important;
    opacity: 0.5;
    transition: .5s ease;
    position: fixed;
}

    .carousel-control-next:hover, .carousel-control-prev:hover {
        color: black !important;
        opacity: 1 !important;
        transition: .5s ease !important;
    }


.carousel-inner {
    height: 100% !important;
    max-height: 100% !important;
    margin-top: -130px;
}

.carousel-inner .item {
display:run-in;
width:100%;
height:auto !important;

}

.carousel-container {
    margin-left: 0;
}

.carousel-content {
    color: black;
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition: opacity ease-out .7s;
    height: auto;
}

    .carousel-fade .carousel-item.active,
    .carousel-fade .carousel-item-next.carousel-item-left,
    .carousel-fade .carousel-item-prev.carousel-item-right {
        opacity: 1;
    }

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}



#spanMostImportant, #spanLessImportant {
    display: inline-block;
}





.imagesTop {
    position: absolute;
    z-index: 0;
    margin: 10px;
    opacity: 1;
    transition: .5s ease;
}

    .imagesTop:hover {
        opacity: 0 !important;
        transition: .5s ease !important;
    }

.imagesTopIntro {
    position: absolute;
    z-index: 0;
    margin: 10px;
    opacity: 1;
    transition: .5s ease;
    height:50vh;
    width:50vh;
}

    .imagesTopIntro:hover {
        opacity: 0 !important;
        transition: .5s ease !important;
    }

.startTopIntro {
    position: absolute;
    z-index: 0;
    margin: 10px;
    opacity: 1;
    transition: .5s ease;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

    .startTopIntro:hover {
        opacity: 0 !important;
        transition: .5s ease !important;
    }

.startSpan{
    width:100vw;
    text-align:center;
    font-size:18pt;
    margin-top:5%;
}


#qInstSpan {
    font-size: 14pt;
}

#fixedHeight, #introPage {
    height: 100vh;
}

#fixedHeight {
    display: flex;
}

    .introCol {
        display: flex;
        justify-content: space-around;
        cursor: pointer;
flex:1;

    }

.imagesBottom {
    margin: 10px;
}

.imagesBottomIntro {
    margin: 10px;
    height: 50vh;
    width: 50vh;
}

.startBottomIntro {
    margin: 10px;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}
.q2Imgs {
    text-align: center;
}

.q2ImgsDiv {
    display: inline-block;
    cursor:pointer;
}

#managerImgQ2, #managerImg2Q2, #friendImgQ2, #friendImg2Q2, #familyImgQ2, #familyImg2Q2 {
    margin-left: 50px;
}

#teacherSpanQ2, #familySpanQ2, #friendSpanQ2, #nobodySpanQ2 {
    margin-top:-5px;
    font-size: 16pt;
    text-align: center;
}

    .q2Spans {
        display: block;
    }

#workImgQ1, #workImg2Q1, #friendsImgQ1, #friendsImg2Q1, #eduImgQ1, #eduImg2Q1, #familyImgQ1, #familyImg2Q1 {
    margin-left: 50px;
}

#workSpanQ1, #friendsSpanQ1, #eduSpanQ1, #familySpanQ1 {
    margin-top: -5px;
    font-size: 16pt;
    text-align: center;
}


    #workSpanQ1 span, #friendsSpanQ1 span, #eduSpanQ1 span, #familySpanQ1 span {
        margin-right: -40px;
    }

.q1Spans {
    display: block;
}

.tooltip.in {
    opacity: 1;
}

#teacherSpanQ2 span, #familySpanQ2 span, #friendSpanQ2 span {
    margin-right: -40px;
}

.mobileSection {
    display: none;
}

footer#screenFooter {
    position: fixed;
    width: 100%;
    bottom:0;
    z-index:200;
}

.primeNav {
    background-color: #dae3f3;
}

.popoverContact {
    margin-top: 15px !important;
}

.contactWays {
    display: inline;
}



.ui-slider-label{
    display:none;
}

.ui-slider-pips .ui-slider-label {
    margin-left: -1.5em;
    width: 3em;
}

.ui-slider-float .ui-slider-tip, .ui-slider-float .ui-slider-tip-label {
    background: #f8be94;
    border:none;
}

    .ui-slider-float .ui-slider-tip:before, .ui-slider-float .ui-slider-pip .ui-slider-tip-label:before {
        border: none;
    }

    .ui-slider-float .ui-slider-tip:after, .ui-slider-float .ui-slider-pip .ui-slider-tip-label:after {
        border-top-color: #f8be94;
    }

.ui-slider-float .ui-slider-tip, .ui-slider-float .ui-slider-tip-label {
    margin-right: -17px;
    font-family: 'assistantregular';
    text-rendering: optimizeLegibility;
}

    .labelSlider {
        text-align: center;
    }

.q3{
text-align:center;
right:-15px;
}

#q3familyImg{
    top:30px;
}

#q3friendsImg {
    top: 60px;
}

.slider {
    top: 30px;
    left:-15px
}

.sliderDiv{
    margin:0 auto;
}

.ui-slider {
    background: #ff5b63;
}

.slider:after {
    /*content: "";*/
    position: absolute;
    top: -10px;
    left: -15px;
    right: -15px;
    bottom: -10px;
    border: 1px solid #000;
    border-radius: 25px;
}


.slider {
    background-color: #1aa8a4;
    border-radius: 60px;
    /*margin-left: 35px;*/
    height: 8px;
    border: 1px solid #1aa8a4;
}

.ui-slider-handle {
    border-radius: 50%;
}

.ui-slider-horizontal .ui-slider-handle{
    top:-.5em;
    margin-left:-.6em;
}

.ui-slider .ui-slider-handle {
    width: 30px;
    height: 30px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: #ff5b63;
    border:none;
}

.ui-slider-tip{
    color:black;
    position:absolute;
    top:-30px;
    right:10px;
}

.ui-slider-pips [class*=ui-slider-pip-selected] {
    color: red;
    font-family: Assistant;
    text-rendering: optimizeLegibility;
}

.ui-slider-pips .ui-slider-pip {
    color: #000;
    font-family: 'assistantregular';
    font-size: 12pt;
    text-rendering: optimizeLegibility;
}

.ui-slider .ui-slider-handle{
    width:20px;
    height:20px;
    margin-top:2px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background:#555;
}

.q4div {
    border-radius: 50%;
    background-color: lightgrey;
    transition: .9s ease !important;
}

.q4 {
    display: inline-block;
    cursor:pointer;
}

.q4Divs {
    text-align: center;
    font-size:16pt;
}

.q4Spans{
    width:150px;
    height:150px;
    margin-top:30px;
}

#yesSpanQ4, #littleSpanQ4, #noSpanQ4 {
    margin-left: 50px;
}

.spansOfQ4, .spansOfQ5 {
    line-height:150px;
}


#yesSpanQ4:hover, #dontKnowSpanQ5:hover {
    background-color: #8ff489;
    transition: .9s ease !important;
}

#littleSpanQ4:hover, #youthCenterSpanQ5:hover {
    background-color: #f9c470;
    transition: .9s ease !important;
}

#noSpanQ4:hover, #ColZchutSpanQ5:hover {
    background-color: #fca78d;
    transition: .9s ease !important;
}

#verySpanQ4:hover, #GovSitesSpanQ5:hover {
    background-color: #60c95b;
    transition: .9s ease !important;
}

.q5ImgsDiv {
    /*display: inline-block;*/
    margin: 0 auto;
}

/*.q5div {
    border-radius: 50%;
    background-color: lightgrey;
    transition: .9s ease !important;
    width: 150px;
    height: 150px;
}*/

/*#govOfficesImgQ5 {
    position: absolute;
}*/

#dontKnowSpanQ5{
    margin-top:80px;
}

.q5Imgs {
    text-align: center;}

#youtCenterImgQ5, #colZchutImgQ5, #jointImgQ5 {
    filter: grayscale(100%);
    transition: .9s ease !important;
}

    #youtCenterImgQ5:hover, #colZchutImgQ5:hover, #jointImgQ5:hover {
        filter: grayscale(0%);
        transition: .9s ease !important;
    }

.q5Spans{
    font-size:16pt;
    margin-top:30px;
    cursor:pointer;
}

.q5Spans:hover{
    font-weight:bold;
}

.imagesTopQ5{
    cursor:pointer;
}

#Qfinish {
    font-size: 28pt;
    font-family: 'gveret_levin_alefalefalefRg';
    margin-top: 5%;
    text-align: center;
    margin-top: 30px;
    cursor:pointer;
}

.cssanimation, .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

    .cssanimation span {
        display: inline-block
    }

.pullRelease {
    animation-name: pullRelease
}

.otherChoicesSpans{
    font-size:20pt;
}

@keyframes pullRelease {
    15% {
        transform: scale(1.8)
    }
}

.numberInformation {
    width: 170px;
    display: inline-block;
}

.numbersDiv{
    display:flex;
    text-align:center;
    justify-content:space-around;
    font-size:14pt;
    margin-top:20px;
}

@media (min-width:500px){
    #Qfinish{
        position:absolute;
        top:150px;
        left:20px;
        cursor:pointer;
    }


    #back-to-top {
        position: fixed;
    }
}
@media (min-width:500px) and (max-width:800px){
    .imagesTopIntro{
        width:200px;
        height:200px;
    }

    .imagesBottomIntro {
        width: 200px;
        height: 200px;
    }
}

@media (min-width:200px) and (max-width:500px) {
    .imagesTopIntro {
        width: 150px;
        height: 150px;
    }

    .imagesBottomIntro {
        width: 150px;
        height: 150px;
    }

    .introSpans{
        font-size:14pt;
    }

    #back-to-top {
        float: left;
    }

}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next, .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

        .carousel-fade .carousel-inner > .item.next.left,
        .carousel-fade .carousel-inner > .item.prev.right,
        .carousel-fade .carousel-inner > .item.active {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
}

@media (min-width:200px) and (max-width:319px){
    .mycircles {
        margin-top: 15px;
    }
}

@media (min-width:319px) and (max-width:400px) {


    #firstChoice {
        right: 5%;
        width: 60vw;
        height: 60vw;
        resize: both;
        display:flex;
    }

    .mycircles{
        margin-top:30px;
    }

    #secondChoice {
        left: 5%;
    }

    #thirdChoice {
        margin-top: 32%;
        left: 5%;
    }

    .mycircles div {
        height: 25vw;
        width: 25vw;
    }

    #otherChoicesSpans {
        font-size: 16pt;
    }

    #qInstQ{
        font-size:14pt;
    }

    #pageRecommendation{
        font-size:16pt;
    }

    .mycircles{
        margin-top:25px;
    }

        .mycircles div{
            font-size:22pt;
        }

        .otherChoicesSpans {
            font-size: 14pt;
        }

}


@media (min-width:400px) and (max-width:800px) {
    #finishImg{
        display:block;
    }

    #firstChoice {
        right:15%;
        width:48vw;
        height:48vw;
    }

    #secondChoice{
        left:15%;
    }

    #thirdChoice{
        margin-top:30%;
        left:15%;
    }

    .mycircles div{
        height:20vw;
        width:20vw;
    }

    .otherChoicesSpans{
        font-size:16pt;
    }
}

    @media (min-width:200px) and (max-width:768px) {
        .slider {
            top: 10px;
        }

        .q3Imgs {
display:none;

        }

        .labelSlider {
            margin-right: 25px;
        }

        .q3{
            right:0px;
        }
    }

    @media (min-width:800px) and (max-width:1207px){
        .mycircles div {
            height: 18vw;
            width: 18vw;
            font-size: 28pt;
        }

        .mycircles{
            margin-top:40px;
        }

        #firstChoice {
            margin-top: 1%;
            right: 20%;
            width: 38vw;
            height: 38vw;
        }

        #secondChoice {
            left: 20%;
        }

        #thirdChoice {
            left: 20%;
            margin-top: 22%;
        }
    }

    @media (min-width:200px) and (max-width:1007px) {
        #managerImgQ2, #managerImg2Q2, #friendImgQ2, #friendImg2Q2, #familyImgQ2, #familyImg2Q2, #nobodyImgQ2, #nobodyImg2Q2 {
            margin-left: 0px;
        }

        #teacherSpanQ2 span, #familySpanQ2 span, #friendSpanQ2 span {
            margin-right: 0px;
        }

        #yesSpanQ4, #littleSpanQ4, #noSpanQ4 {
            margin-left: 0px;
        }

        /*.q4Spans {
            margin-bottom: 20px;
        }*/


    }

@media (max-width:500px) {
    .imagesTop {
        height: 80px;
        width: 80px;
    }

 

    .startTopIntro {
        height: 80px;
        width: 80px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40%;
    }

    .q4div{
        border-radius:0px;
        background-color:transparent;
    }

    .q4Spans{
        height:40px;
    }

    /*#q4First{
        margin-top:40px;
    }*/

    .q4 {
        display: normal;
    }

    .spansOfQ4{
line-height:normal;
    }

    #yesSpan2Q4:hover, #dontKnowSpanQ5:hover {
        color: #8ff489;
        transition: .9s ease !important;
    }

    #littleSpan2Q4:hover, #youthCenterSpanQ5:hover {
        color: #f9c470;
        transition: .9s ease !important;
    }

    #noSpan2Q4:hover, #ColZchutSpanQ5:hover {
        color: #fca78d;
        transition: .9s ease !important;
    }

    #verySpan2Q4:hover, #GovSitesSpanQ5:hover {
        color: #60c95b;
        transition: .9s ease !important;
    }

    .labelSlider{
        font-size:14pt;
    }

    .q2Spans {
        margin-right: 10px;
    }

    .imagesBottom {
        height: 80px;
        width: 80px;
    }




    .startBottomIntro {
        height: 80px;
        width: 80px;
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40%;
    }
    #workSpanQ1, #friendsSpanQ1, #eduSpanQ1, #familySpanQ1, #teacherSpanQ2, #familySpanQ2, #friendSpanQ2, #nobodySpanQ2 {
        font-size: 14pt;
    }

    .carousel-inner {
        margin-top: -185px;
    }

    .marginQ4{
        margin-top:-20px;
    }

    .questionnaire {
        padding: 50px 0 80px 50px;
    }

    .questionsHeadQ {
        font-size: 40px;
        padding-top: 40px;
    }

    .titleIntro {
        font-size: 40px;
        padding-top: 40px;
    }

    #qInstQ {
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
        font-size: 14pt;
    }

    .results{
        top:250px;
    }

    #youtCenterImgQ5 {
        width: 120px;
        height: 50px;
    }

    #colZchutImgQ5 {
        width: 110px;
        height: 90px;
        /*margin-top:-20px;*/
    }

    #jointImgQ5 {
        width: 110px;
        height: 80px;
        /*margin-top: -20px;*/
    }

    .q5Spans {
        margin-top: 20px;
    }

    #Qfinish{
        margin-top:15%;
        font-size:20pt;
        cursor:pointer;
    }

    #finishImg{
        width:70px;
        height:70px;
    }
 }

@media (max-width:500px){
    #finishImg {
        display:none;
    }
    #Qfinish {
        margin-top: 10px;
        font-size: 14pt;
        color:darkgreen;
        cursor:pointer;
    }

    .q5Spans{
        font-size:14pt;
    }
}

@media (min-width:500px) and (max-width:700px) {
    #finishImg {
        display: none;
    }

    #Qfinish {
        margin-top: 10px;
        font-size: 18pt;
        color: darkgreen;
        cursor:pointer;
    }

    .q5Spans {
        font-size: 14pt;
    }
}

/*@media (min-width:590px) and (max-width:771px){
    .bgNav{
        top:60px;
    }

    .textArea{
        margin-top:280px;
    }
}*/
    @media (min-width:770px) and (max-width: 870px) {
        .spansNav2 {
            font-size: 14pt;
            margin-right: 7px;
        }

        .textArea, #insideNavWhoAreWe, .whatIsSaid, .contactContainer {
            font-size: 14pt;
        }

        #insideNavWhoAreWe {
        }

        #span3Nav2 {
            margin-right: 10px;
        }

        .number1 {
            font-size: 28pt;
            line-height: 40px;
            margin-top: 10px;
        }

        .progressBar {
            margin-bottom: 10px;
            height: 50px;
        }

        .progress {
            height: 50px;
        }


        /*.numberInformation, #numberInformation0 {
            font-size: 12pt;
            line-height: 10px;
        }

        .numberInformation, #numberInformation0, #numberInformation1, #numberInformation2, #numberInformation3 {
            font-size: 12pt;
            line-height: 20px;
            margin: 5px;
            padding-right: 5px;
            width: 500px;
        }*/
        button:focus {
            border-radius: 50%;
        }
    }

    @media (min-width:590px) {
        #videoFriendship, #videoFamily, #videoCareer, #videoAbout {
            margin-top: 300px;
            margin-bottom: 20px;
        }

    }

    @media (min-width:310px) and (max-width: 770px) {
   

        #contactContainer3{
            display:none;
        }
        .mobileSection {
            display: unset;
        }

        #introAbout {
            padding: 10px 0 60px 0;
        }

        .bgNav {
            top:60px;
        }

        .textArea {
            margin-top: 140px;
        }

        #contactM2 {
            margin-right: 15px;
            margin-top: -20px;
            font-size: 15pt;
            height: 300px;
        }

        #contactInfoM2 {
            text-align: center;
            margin-top: 25px;
        }

        #orgOperatingSpanM, #orgOperatingSpanM2 {
            font-weight: bold;
        }

        #dropdownMenuButtonM {
            background-color: lightgrey;
            border: none;
            color: black;
        }

        #dropdownMenuButtonM2 {
            background-color: lightgrey;
            border: none;
            color: black;
        }

        .mobile-only {
            margin-top: -50px;
        }

      

        .navbar {
            top: -95px;
        }

        .accordion {
            margin-top: -50px;
            position:absolute;
            z-index:4;
            margin-bottom:90px;
        }

        /*#contactContainer2{
            display:none;
        }*/
        .colsAccordion {
            padding-right: 5px;
        }

        .card {
            border-top-right-radius: 60px;
            border-bottom-right-radius: 70px;
            border-top-left-radius: 60px;
            border-bottom-left-radius: 70px;
            border: none;
            width: 98%;
            float: right;
            margin-bottom: 20px;
        }

        .card-header {
            background: none;
            border: none;
            height: 60px;
            padding-top: 3px;
        }

        #historyCard {
            background-color: #fca78d;
        }

        #whoWeAreCard {
            background-color: #fce39f;
        }

        #numbersCard {
            background-color: #abc6db;
        }

        #sayingCard {
            background-color: #cdf3fc;
        }

        #contactCard {
            background-color: #f9dec5;
        }

        .btn-link {
            font-size: 20pt;
            margin-top: -15px;
            color: #000;
        }

            .btn-link:visited, .btn-link:hover, .btn-link:active, .btn-link:focus {
                color: #000;
                text-decoration: none;
            }


        .imgHamNav {
            margin-top: -12px;
            margin-right: -35px;
            transition: .9s ease !important;
            padding: 10px;
            background-color: #fff;
            border-radius: 50%;
        }


        .hamNavTitle {
            padding-right: 10px;
            transition: .9s ease !important;
            font-size: 20pt;
        }


        /*#historyBtn:focus #hamNavHistoryImg.active {
            -webkit-transform: scale(1.8) rotate(0.01deg);
            transform: scale(1.8) rotate(0.01deg);
            pointer-events: none;
        }

            #historyBtn:focus #hamNavHistoryImg.inactive {
                width: 87px;
                height: 87px;
               
            }*/

        .thumbPosition, #thumbPosition {
            font-size: 11pt;
        }

        .thumbsMobile {
            text-align: center;
        }


        #historyContainer, #whoAreWeContainer, #numbersContainer, #sayingContainer {
            display: none;
        }

        .card-body {
            font-size: 14pt;
            padding-top: 35px;
        }



        footer#screenFooter {
            display: none;
        }

        footer#mobileFooter {
            bottom: 0;
            left: 0;
            right: 0;
            position: fixed;
            z-index: 5;
            width:100%;
        }

        .page-footer {
            bottom: 0;
            left: 0;
            right: 0;
            position: fixed;
            z-index: 5;
            width: 100vw;
        }

        .numberMobile {
            border-radius: 50px;
            padding: 10px 10px 10px 10px;
            height: auto;
            margin-bottom: 10px;
            line-height: 25px;
            width: 100%;
            text-align: center;
        }

        #number1Mobile {
            background-color: #b7ebfc;
        }

        #number2Mobile {
            background-color: #fee187;
        }

        #number3Mobile {
            background-color: #ff9451;
        }

        #number4Mobile {
            background-color: #86c2f2;
        }

        #number5Mobile {
            background-color: #ffd8b1;
        }

        .numberM {
            font-size: 32pt;
            font-weight: bold;
            /*margin-top: 25px;*/
        }

        .numberMe {
            font-size: 14pt;
            font-weight: normal;
            margin-top: 12px;
        }

        /*#numberMe2, #numberMe4, #numberMe5 {
            margin-top: 27px;
        }

        #number2M, #number4M, #number5M {
            margin-top: 25px;
        }*/

        .contactImgsM {
            display: inline;
            position: relative;
            z-index: 1;
            opacity: 1;
            transition: .5s ease;
            margin-left: 3px;
            border-radius: 50%;
            margin-top: 5px;
        }

        .contactImgs2M {
            position: absolute;
            z-index: 0;
            display: inline-block;
            margin-right: -114.5px;
            padding: 10px;
            background-color: #f9dec5;
        }

        .whoSaidM {
            font-size: 14pt;
            font-weight: bold;
        }

        .whatIsSaidM {
            font-size: 14pt;
            margin-bottom: 20px;
        }

        .goalsLink {
            font-weight: bold;
        }

        .howItWorksLink {
            font-weight: bold;
        }

        #OrgOperatingM {
            text-align: center
        }

        #orgOperatingSpanM {
            font-weight: bold;
        }

        #contactWaysM {
            text-align: center;
        }

        #contactInfoM {
            margin-top: 10px;
        }

        .contactImgsM:focus, .contactImgsM {
            outline: 0 !important;
            box-shadow: none !important;
            outline: none !important;
        }
    }

@media (min-width:310px) and (max-width: 590px) {

    /*#videoCareerSection, #videoFriendshipSection, #videoFamilySection{
        height:200px;
        
    }*/

    #slidersQ1 {
        height: 320px;
    }

    .startSpan{
        font-size:14pt;
        margin-bottom:10px;
    }

    /*#introPage {
        overflow-y: visible;
    }*/

    .slidersQ2 {
        margin-bottom: 40px;
    }

    #videoFriendship, #videoFamily, #videoCareer, #videoAbout {
        margin-top: -100px;
    }

    .contactImgs {
        display: none;
    }

    #contactInfo{
        margin-top:0px;
    }
        .contactImgs, .contactImgs2 {
            margin-right: 0px;
            width: 60px;
            height: 60px;
            padding: 5px;
        }

            .navbar-nav > li {
                margin-left: 0px;
                margin-right: 0px;
            }

        .page-footer {
            bottom: 0;
            left: 0;
            right: 0;
            position: fixed;
            z-index: 5;
            width: 100vw;
        }

        .anchor {
            padding-top: 330px;
            margin-top: -300px;
        }

            /*.contactImgs2{
                margin-right:-84.5px
            }

        #facebookImg1 {
            margin-right: -79.5px;
        }*/

        .textArea {
            margin-top: 185px;
        }

        .titleOfPage h1 {
            padding-top: 10px;
            width: 100%;
            font-size: 24pt;
            z-index: 200;
        }

        .secondNavImgs, .innerNavImgs {
            z-index: 200;
            top: 160px;
        }

        .secondNavImgs2, .innerNavImgs2 {
            z-index: 100;
            top: 165px;
        }

        .spansNav2 {
            top: 280px;
        }

 .textSection{
     font-size:14pt;
 }
      .secondNavImgs, .innerNavImgs, .secondNavImgs2, .innerNavImgs2 {
            width: 80px;
            height: 80px;
            padding: 5px;
        }



        #span2InnerNav-1, #span2InnerNav-2, #span2InnerNav-3 {
            width: 80px;
            word-wrap: break-word !important;
        }

        #span1InnerNav-1 {
            right: 35px;
        }

        #span2InnerNav-1 {
            right: -25px;
            word-wrap: break-word;
            width: 50px;
        }


        .mobile-only {
            margin-top: -50px;
        }

  

        .spansNav2 {
            font-size: 12pt;
        }

        #span1InnerNav-1, #span1InnerNav-2, #span1InnerNav-3 {
            top: 45px;
            right: 14px;
        }

        #span2InnerNav-1, #span2InnerNav-2, #span2InnerNav-3 {
            width: 80px;
            top: 45px;
            right: -8px;
            white-space: normal;
        }

        .navbar {
            top: -110px;
        }

        .bgNav{
            top:10px;
        }

        .secondNavImgs, .innerNavImgs, .secondNavImgs2, .innerNavImgs2 {
            width: 70px;
            height: 70px;
        }

        #contactContainer {
            height:300px;
            font-size:14pt;
        }

        #contactPage{
            margin-top:0px;
        }
    }

@media (min-width:310px) and (max-width:350px) {
    .contactImgs, .contactImgs2 {
        width: 55px;
        height: 55px;
    }
}

    @media (min-width:200px) and (max-width:420px) {

        #introAbout {
            padding: 30px 0px;
        }



        .titleOfPage {
            margin-right: -10px;
        }

        .contactImgsM {
            margin-left: 0px;
        }

        .whoAreWeLinks > div {
            display: inline-block;
            width: 120px;
            font-weight: bold;
        }

        /*.navbar-collapse {
            margin-right: -20px;
        }*/

        .numberM {
            font-size: 24pt;
        }

        .contactImgsM {
            width: 50px;
            height: 50px;
        }

        .numberMe {
            font-size: 12pt;
            margin-top: 0px;
            padding-right: 10px;
        }

        .numberMobile {
            height: auto;
        }


        .btn-link[aria-expanded="false"] {
            font-size: 15pt;
        }


            .btn-link[aria-expanded="false"] + .imgHamNav {
                width: 67px;
                height: 67px;
            }


        .imgHamNav {
            width: 67px;
            height: 67px;
            padding: 6px;
            margin-top: -9px;
        }

        .hamNavTitle {
            font-size: 15pt;
        }

        .card-header {
            height: 45px;
        }

        .card {
            margin-bottom: 20px;
        }

        /*.accordion {
            margin-top: 240px;
        }*/

        #youthLogo {
            width: 85px;
            height: 30px;
        }
    }




    /*@media (max-width: 320px) {
        .nav-imgs {
            height: 45px;
        }

        #primaryNav ul.rightNav img {
            padding: 0px 0px 7px 20px;
        }

        #primaryNav a {
            font-size: 12pt;
        }

        #primaryNav ul li span.rightNavSpan {
            margin-right: -20px;
        }
    }*/
